body {
  margin: 0px;
  padding-bottom: 100px;
  background-color: white;
}

#logo {
  width:28%;
  margin-top: 60px;
  margin-bottom: 20px;
}

#main {
  color: black;
}

.nav-side-menu {
  overflow: auto;
  background-color: #343653; /* violet */
  position: fixed;
  top: 0px;
  width: 270px;
  height: 100%;
}

.nav-side-menu .brand {
  line-height: 50px;
  display: block;
  text-align: center;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu li {
  padding: 20px;
  text-align: center;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #E0E0E0; /* light gray */
}

.nav-side-menu li:hover {
  background-color: #282942; /* darker violet */
  color: white;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}


/* detailed schedule */
.day {
  width: 100%;
  margin-bottom: 5%;
}

.day h3 {
  text-align: left;
  padding-bottom: 20px;
}

.event__msg, .time {
  color: black;
}

.time {
  width: 15%;
  font-weight: 400;
}

.event {
  margin-left: 15%;
  margin-bottom: 30px;
  text-align: left;
  display: block;
}

.event__title {
  width: 200%;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: purple;
  margin-left: 0;
}

.event__location {
  font-size: 0.9em;
  width: 200%;
}

.event__description {
  width: 200%;
}
/* end of detailed schedule */


@media all and (max-width: 641px) {
  .date {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .events {
    border:none;
    width: 100%;
    margin-top: 0;
  }

  .events-detail {
    padding: 0;
  }

  li.date p {
    margin:0;
  }
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

  #main {
  	width:calc(100% - 300px);
  	float: right;
    padding: 50px 0 0 50px;
  }
}

@media (max-width: 767px) {
  #logo {
    width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #343653;
    color: #E0E0E0;
    text-align: center;
  }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
